body {
    font-family: Montserrat,sans-serif;
}

a {
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.skills {
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 10px;
}

.item-block {
    height: 150px;
    width: 150px;
    max-width: 250px;
    align-items: center;
    background-color: #252525;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.skill-image {
    width: 100px;
    height: 100px;
}

.success {
    text-align: center;
}